{% extends 'base.html' %}
{% block title %} Coffe {% endblock %}

{% block content %}
    <style>
        .user-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 400px;
            height: 350px;
            box-shadow: 0px 0px 6px 0px #333;
        }

        .user-form p {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }

        .user-form p input, label{
            width: 90%;
        }

        .user-form p{
            font-size: 20px;
        }

        .btn {
            width: 90% !important;
            background-color: #faaf42 !important;
            border-color: #faaf42 !important;
        }

        .img__container{
            width: max-content;
            height: max-content;
            display: flex;
            margin: auto;
        }
    </style>
    <div class="img__container">
        <img src="../../../images/pngwing.com.png" alt="coffe shop" width="250px" height="250px">
    </div>
    <form action="" class="user-form" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}